Name:- Om Madavi

Roll no:- 51

# House Price Prediction Using LinearRegression

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression 
import matplotlib.pyplot as plt

# Load dataset

In [2]:
dataset = pd.read_csv('house dataset.csv')

# Load summerise

In [3]:
print(dataset.shape)
print(dataset.head(5))

(1460, 2)
    area   price
0   8450  208500
1   9600  181500
2  11250  223500
3   9550  140000
4  14260  250000

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   area    1460 non-null   int64
 1   price   1460 non-null   int64
dtypes: int64(2)
memory usage: 22.9 KB

In [5]:
dataset.describe()

                area          price
count    1460.000000    1460.000000
mean    10516.828082  180921.195890
std      9981.264932   79442.502883
min      1300.000000   34900.000000
25%      7553.500000  129975.000000
50%      9478.500000  163000.000000
75%     11601.500000  214000.000000
max    215245.000000  755000.000000

# Visualise dataset

In [6]:
plt.xlabel('Area')
plt.ylabel('Price')
plt.scatter(dataset.area, dataset.price, color='red', marker='*')

# Segregate dataset into Input X & Output Y

In [7]:
X=dataset.drop('price', axis='columns')
X

       area
0      8450
1      9600
2     11250
3      9550
4     14260
...     ...
1455   7917
1456  13175
1457   9042
1458   9717
1459   9937

[1460 rows x 1 columns]

In [8]:
Y=dataset.price
Y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: price, Length: 1460, dtype: int64

# Training dataset using Linear Regression

In [9]:
model=LinearRegression()
model.fit(X,Y)

LinearRegression()

# Predict price for Land Sq. Feet using custom values

In [10]:
X=55000
LandAreainSqFt=[[X]]
PredictmodelResult = model.predict(LandAreainSqFt)
print(PredictmodelResult)

[274334.6092408]

/data/user/0/ru.iiec.pydroid3/files/aarch64-linux-android/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

# Let's check is our model is right?

# Theory calculation

Y = m*X + b ( m is coefficient and b is intercept)

In [11]:
m=model.coef_
print(m)

[2.09997195]

In [12]:
b=model.intercept_
print(b)

158836.15189687657

# Y = m*X + b

In [13]:
Y=m*X+b
print('price of {0} square feet lant is: {1}'.format(X,Y[0]))

price of 55000 square feet lant is: 274334.6092407988